---
import { sanityClient } from 'sanity:client';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const data = await sanityClient.fetch(`*[_type == "homepage"]`);
const homepage = data?.[0]
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="hero">
			<h1>{homepage.title}<br>{homepage.subtitle}</h1>
			<p>{homepage.copy}</p>
			{homepage.links.map((link: any) => <a href={link.url || "/"}>{link.label}</a>)}
		</section>
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: min(1fr, 2rem) max(1fr, 78rem) min(1fr, 1rem);
		padding: 0;
		margin: 0;

		color: var(--c-text);
		font-family: var(--f-sans);
	}

	h1 {
		font-family: var(--f-mono);
		font-size: 0.75rem;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 1.66;
	}

	.hero {
		p {
			font-size: clamp(1.125rem, 0.125rem + 5vi, 4rem);
			line-height: 1.3;
		}
	}
</style>

<script define:vars={{homepage}}>
	console.log(homepage)
</script>
